@using VendorTracker.Models;
<form action="/vendors/@Model.Id/orders" method="post">
  <Label for="orderType">What does the order consist of?</Label><br>
  <select  id="orderType" name="orderType">
  <option value="Bread">Bread</option>
  <option value="Pastry">Pastry</option>
  </select><br><br>
  <label for="orderQuantity">How much did the order consist of?</label><br>
  <input type="number" id="orderQuantity" name="orderQuantity"><br><br>
  <label for="orderDate">Order Date: </label>
  <input type="date" id="orderDate" name="orderDate">
  <button type="submit">Add order</button>
</form>