<h1>The Ultimate Vendor Tracker!</h1>
<h3>Quickly and efficiently organize your vendor's orders to help your business run smoothly.</h3>
<a href="/vendors">View your list of vendors</a><br><br>
<a href="/vendors/new">Add to your list of vendors</a>